.header {
  display: flex;
  align-items: center;
  gap: 16px;
  .product_name {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.8px;
  }
  .login_button {
    display: flex;
    width: 76px;
    height: 30px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 21px;
    background: linear-gradient(
      262deg,
      #2974f6 0%,
      #29d9f2 48.38%,
      #9f25ff 103.82%
    );
    color: #fff;

    font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.7px;
  }
}
.sub-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin-top: 20px;
  color: #2e2e2e;
  font-family: "SF Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  line-height: 150%; /* 24px */
  letter-spacing: 0.8px;
}
