.query-text-anywhere-container {
  position: fixed;
  transform: translate(20%, 55%);
  /* width: 1085px;
  height: 777px; */
  width: 695px;
  height: 442px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #FFF;
  color: black;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  position: relative;
}

.image-style {
  /* max-width: 100%;
  max-height: calc(100% - 40px);
  height: auto; */
  width: 265.402px;
  height: 394px;
  /* border-radius: 16px; */
}

.enhance-button {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  width: 208px;
  height: 48px;
  border: 1px solid white;
  border-radius: 27px;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text_in_button {
  font-weight: bold;
  background: linear-gradient(90deg, #8054FC 0%, #298BF5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.info-container {
  /* width: 40%;
  height: 100%; */
  width: 366px;
  height: 213px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.size_recommandation {
  display: flex;
  justify-content: left;
  align-content: flex-start;
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.size-box {
  /* width: 100%;
  height: 50%; */
  width: 366px;
  height: 213px;
  border: none;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.coupons-container {
  /* width: 100%;
  height: 40%; */
  width: 366px;
  height: 108px;
  border: none;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
}

.feedback_container {
  display: flex;
  justify-content: right;
  align-content: flex-end;
}

.side-space {
  width: 10%;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.highlight {
  background-color: yellow; /* 高亮颜色 */
}

.enhance-container {
  display: flex;
  flex-direction: column;
  width: 349px;
  margin-left: 8px;
  /* justify-content: center; */
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  color: #2E2E2E;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 24.516px; /* 102.152% */
  margin-bottom: 10px;
}

.select-container label {
  color: #2E2E2E;
  font-size: 14px;
  font-style: normal;
  /* font-weight: 590; */
  line-height: 150%; /* 21px */
  letter-spacing: 0.7px;
}

.select-container select {
  width: 349px;
  height: 39.344px;
  padding: 10px 16px 10px 10px; /* 增加右侧内填充来为自定义箭头腾出空间 */
  /* border-radius: 10px; */
  /* border: 1px solid #ccc;
  background-color: #fafafa; */
  border: none;
  border-radius: 16px;
  background: #FAFAFA;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  appearance: none; /* 移除默认外观 */
  cursor: pointer;
  font-family: "SF Pro", Arial, sans-serif; /* 保持字体统一 */
  font-size: 14px !important; /* 调整字体大小 */
  color: #333; /* 字体颜色 */
  margin-bottom: 12px;
  margin-top: 5px;
}

.select-container select:focus {
  outline: none;
  border-color: #888; /* 聚焦时边框颜色 */
}

.select-container select option {
  font-size: 20px !important;
  padding: 10px; /* 给选项添加内填充 */
  margin: 10px !important;
  background: white; /* 选项背景颜色 */
  color: #333; /* 字体颜色 */
}

.input_handler label {
  color: #2E2E2E;
  font-size: 14px;
  font-style: normal;
  /* font-weight: 590; */
  line-height: 150%; /* 21px */
  letter-spacing: 0.7px;
}

.input_handler input {
  width: 349px;
  height: 39.344px;
  margin-bottom: 12px;
  border: none;
  border-radius: 16px;
  background: #FAFAFA;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  margin-top: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.enhance-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-enhance-button {
  /* display: flex; */
  width: 142px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 14.147px;
  border: none;
  border-radius: 27px;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
  margin-right: 14.147px;
  font-weight: bold;
  color: #2E2E2E;
  font-size: 15.989px;
}

.regeneration-enhance-input {
  width: 188px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 27px;
  background: linear-gradient(90deg, #8058F9 0%, #2C89F5 100%);
  color: #FFF;
  font-size: 15.989px;
  font-weight: bold;
}
