.query-text-anywhere-container {
  position: fixed;
  transform: translate(20%, 55%);
  width: 1085px;
  height: 777px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  color: black;
  padding: 44.5px;
  box-sizing: border-box;
  display: flex;
  border-radius: 21.228px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 44.5px;
  /* margin-top: 45px;
  margin-left: 52px;
  margin-bottom: 43px; */
  position: relative;
}
.enhance-button {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}
.image-style {
  /* max-width: 100%;
  max-height: calc(100% - 40px);
  height: auto; */
  width: 455px;
  height: 688px;
  border-radius: 16px;
}

.info-container {
  /* width: 40%;
  height: 100%; */
  width: 494px;
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.size-box {
  /* width: 100%;
  height: 50%; */
  width: 494px;
  height: 366px;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  alignitems: center;
  margin-bottom: 15px;
}

.coupons-container {
  /* width: 100%;
  height: 40%; */
  width: 494px;
  height: 266px;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
}

.side-space {
  width: 10%;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.highlight {
  background-color: yellow; /* 高亮颜色 */
}

.enhance-container {
  display: flex;
  flex-direction: column;
}
.enhance-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: red;
}
