@import url(../Loading/style.css);
@import url(../SizeChartTable/style.css);
@import url(./Loading/style.css);
@import url(../Deals/style.css);
.query-text-anywhere-container {
  --ratio: 1.4;

  /* width: calc(var(--ratio) * 62.5vw); */
  /* 不需要设置宽度，由内容自动撑开，宽度就是：内容的宽度+paddingLeft+paddingRight */
  height: calc(var(--ratio) * 58vh);
  /* height: 600px; */
  padding: calc(var(--ratio) * 0.5vw);
  background: #fff;
  color: black;
  box-sizing: border-box;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.editLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-style {
  height: 100%;
  /* 只设置高度沾满，宽度auto，不然图片会发生拉伸 */
  width: auto;
}

.enhance-button {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  padding: 15px 25px;
  border: none;
  border-radius: 27px;
  background-color: rgba(255, 255, 255, 0.6);
  justify-content: center;
  align-items: center;
  display: flex;
}
.text_in_button {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #8054fc 0%, #298bf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.info-container {
  margin-left: calc(var(--ratio) * 0.7vw);
  min-width: calc(var(--ratio) * 20vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.size_recommandation {
  display: flex;
  justify-content: left;
  align-content: flex-start;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: calc(var(--ratio) * 1.6vh);
  min-height: 10px;
}

.info-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}
.size-box {
  /* width: calc(var(--ratio) * 32vw); */
  /* height: calc(var(--ratio) * 27vh); */
  border: none;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--ratio) * 3.26vh);
}

.coupons-container {
  border: none;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--ratio) * 3.25vh);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
}

.feedback_container {
  display: flex;
  justify-content: right;
  align-content: flex-end;
  font-size: 12px;
  color: #9a9999;
}

.side-space {
  width: 10%;
  height: 100%;
}

.enhance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: calc(var(--ratio) * 0.7vw);
  max-width: calc(var(--ratio) * 20vw);
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: 100%;
  padding-bottom: 50px;
}
.form-inner {
}
.select-container {
  margin-top: calc(var(--ratio) * 1.5vh);
}
.input_handler {
  margin-top: calc(var(--ratio) * 1.5vh);
}
.select-container label {
  color: #2e2e2e;
  letter-spacing: 0.7px;
  font-weight: bold;
  font-size: 20px !important;
}

.select-container select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0px 10px 10px; /* 增加右侧内填充来为自定义箭头腾出空间 */
  border-radius: 12px;
  background: #fafafa;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1) !important;
  /* appearance: none; 移除默认外观 */
  cursor: pointer;
  font-family: "SF Pro", Arial, sans-serif; /* 保持字体统一 */
  color: #333; /* 字体颜色 */
  border-color: rgb(173, 164, 164) !important;
  border-width: 3px;
  font-size: 20px !important;
  border-color: rgba(0, 0, 0, 0.7) !important;
  border-width: 2px;
}

.select-container select:focus {
  outline: none;
  border-color: #2c89f5 !important; /* 聚焦时边框颜色 */
}

.select-container select option {
  /* font-size: 20px !important; */
  padding: 10px; /* 给选项添加内填充 */
  margin: 10px !important;
  background: white; /* 选项背景颜色 */
  color: #333; /* 字体颜色 */
  font-size: 20px !important;
}

.input_handler label {
  color: #2e2e2e;
  font-style: normal;
  letter-spacing: 0.7px;
  font-weight: bold;
  margin-top: calc(var(--ratio) * 1.5vh);
  font-size: 20px !important;
}

.input_handler input {
  padding: 10px 0px 10px 10px;
  width: calc(100% - 15px);
  border-radius: 12px;
  background: #fafafa;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 20px !important;
  background-color: #fafafa !important;
  border-color: rgba(0, 0, 0, 0.7) !important;
  border-width: 2px !important;
}
.input_handler input:focus {
  outline: none;
  border-color: #2c89f5 !important; /* 聚焦时边框颜色 */
}
.enhance-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 30%;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 27px;
  font-size: 20px !important;
  font-weight: bold;
  padding: 17px 0;
  cursor: pointer; /* 鼠标指针 */
}
.cancel-enhance-button {
  background: #fff;
  /* box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4); */
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.1),
    0 3px 8px rgba(0, 0, 0, 0.08); /* 阴影 */
  transition: box-shadow 0.3s ease-in-out; /* 过渡效果 */
  margin-right: 20%;
  color: #2e2e2e;
}
.cancel-enhance-button:hover {
  box-shadow:
    0 12px 24px rgba(0, 0, 0, 0.15),
    0 6px 16px rgba(0, 0, 0, 0.1); /* 悬停时阴影 */
}

.regeneration-enhance-input {
  background: linear-gradient(90deg, #8058f9 0%, #2c89f5 100%);
  color: #fff;
  width: 40%;
}
